body {
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
}

.header-all {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-color: #F5F5F6;
    justify-content: space-between;
    color: #959BA4;
    font-size: 11px;
    font-weight: 500;
    text-align: 18px;
    max-width: 1400px;
}

.header-icon {
   margin: 5px;
   align-self: center;
   width: 150px;
   text-align: center;
}


.header_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    padding: 0;    
    text-align: center;
    align-items: center;
}

li:hover {
    color: black;
}

.header_button {
    border: none;
    background-color: #FFFFFF;
    margin: 5px;
    color: black;
    padding: 0;
    width: 150px;
    
}

.wrapper {
    width: 700px;
    margin: auto;
    
}

h1 {
    text-align: left;
    font-size: 36px;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    margin: 0;
    font-size: 12px;
    color: #9F9F9F;
    padding: 5px 0;
}

.blocks_button {
    display: flex;
    margin-bottom: 20px;
}

button {
    margin: 0;
    background-color: white;
    border: 1px solid #E5E5E5;
    font-size: 12px;
    color: #E5E5E5;
    flex-grow: 1;
    height: 30px;
}

.currency-sale:hover {
    background-color: blueviolet;
}

.currency-buy:hover {
    background-color: blueviolet;
}
.active {
    background-color: blueviolet;
}

.text_input {
    border: 1px solid #E5E5E5;
    width: 300px;
    border-radius: 2px;
    padding: 10px;
    
}

.name {
    border: none;
    font-size: 36px;
    width: 100%;
    box-sizing: border-box;

}

.kurs {
    border: black;
    margin-top: 30px;
    font-size: 12px;
}
